header {
  border-bottom: 3px solid $audibleOrange;
  margin-bottom: 15px;

  .navbar-brand {
    img {
      width: 100%;
      max-width: 120px;
      max-height: 30px;
    }
  }

  nav {
    background-color: $audibleDarkGrey;
    color: $audibleWhite;

    ul {
      margin-bottom: initial;
    }

    li {
      list-style: none;
      display: inline-block;

      a {
        padding: 6px 25px;
        color: $audibleOrange;
        transition: 0.3s;
      }
    }
  }
}
