@import "variables";

header {
  nav {
    background-color: $audibleDarkGrey;
    color: green;
    li {
      list-style: none;
      display: inline-block;

      a {
        padding: 6px 25px;
        color: $audibleOrange;
      }
    }
  }
}
